<!DOCTYPE html>
<html ng-app="repoFinderApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Github Repository Finder</title>
  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <script src="js/lib/angular.min.js" type="text/javascript"></script>
  <script src="js/lib/angular-mocks.js" type="text/javascript"></script>
  <script src="js/lib/spin.min.js"></script>
  <script src="js/lib/angular-spinner.min.js"></script>
  <script src="js/lib/angular-loading-spinner.js"></script>
  <script src="js/app.js" type="text/javascript"></script>
</head>
<body ng-controller="RepoController">
  <div class="container">
    <div ng-class="slide ? 'slideUp' : 'slideDown'" class="col whole main-content">
      <img src="./img/github-logo.png" width="75">
      <h1> {{ title }} </h1>
      <h2> {{ subtitle }} </h2>
      <form ng-submit="findUser(userName);">
        <input class="user-name-input" type="text" placeholder="username" ng-model="userName">
      </form>
      <a class="btn" ng-click="findUser(userName);"> Search </a>
      <a class="btn" ng-click="clear();"> Clear </a>
      <span us-spinner></span>
      <div class="repo-listings" ng-include="'repo-listings.html'"> </div>
    </div>
  </div>

  <!-- Keep partial in same html file to get around CORS policy without web server -->
  <script type=text/ng-template id=repo-listings.html>
    <p class="data" ng-show="userMessage"> {{ userMessage }} </p>
    <!-- Only show list when userData has repos, and no error has occured -->
    <ul ng-hide="userMessage || userData.length == 0">
      <github-repo-item></github-repo-item>
    </ul>
  </script>
</body>
</html>